<%- include('header'); -%>
<div class="box-1">
  <a class="listButton" href="/"><p class="todo">To Do List</p></a>

  <a class="weatherButton" href="/weather"><p class="weatherp">Weather</p></a>
</div>
<div class="box" id="heading">
  <h1><%= listTitle %></h1>
</div>
<div class="box" id="container">
  <% newListItems.forEach(item => { %>
  <div class="item-1">
    <form class="eraseForm" name="eraseItem" action="/delete" method="post">
      <input
        name="deleteItem"
        value="<%= item._id %>"
        type="checkbox"
        onChange="this.form.submit()"
      />
      <p><%= item.name %></p>
      <input type="hidden" name="listName" value="<%= listTitle %>" />
    </form>
  </div>
  <% }); %>
  <form class="item" action="/" method="post">
    <input
      class="newItemInput"
      type="text"
      name="newItem"
      placeholder="New Item"
      autocomplete="off"
    />
    <button type="submit" name="list" value="<%= listTitle %>">+</button>
  </form>
</div>

<%- include('footer'); -%>
